# System Files  
.DS_Store  
Thumbs.db  

# compiled output  
/dist  

# dependencies  
/node_modules 
node_modules
.angular

# IDE - VSCode  
.vscode/*  
!.vscode/settings.json  
!.vscode/tasks.json  
!.vscode/launch.json  
!.vscode/extensions.json 